{% extends '_layouts/base.html' %}

{% load static %}
{% load bootstrap3 %}

{% block headline %}
    <h3>{{ object.name }} </h3>
{% endblock headline %}


{% block content %}
<style>
.stars_{
    float:top
    margin: 0 0 10px 10px;
    }
</style>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <p class="panel-heading">
      {% if object.stars == 1 %}
         <img class="stars_" src="/media/1_stars.jpg" alt="Fara stele" height="20" width="100" align="left">
      {% endif %}
      {% if object.stars == 2 %}
         <img class="stars_" src="/media/2_stars.jpg" alt="Fara stele" height="20" width="100" align="left">
      {% endif %}
      {% if object.stars == 3 %}
         <img class="stars_" src="/media/3_stars.jpg" alt="Fara stele" height="20" width="100" align="left">
      {% endif %}
      {% if object.stars == 4 %}
         <img class="stars_" src="/media/4_stars.jpg" alt="Fara stele" height="20" width="100" align="left">
      {% endif %}
      {% if object.stars == 5 %}
         <img class="stars_" src="/media/5_stars.jpg" alt="Fara stele" height="20" width="100" align="left">
      {% endif %}
      <br>
      <br>
      <b>{{ object.name }}</b>
  </p>
  </div>

  <!-- Table -->
    <table class="table">
        <tr>
            <td align="left">
                <img src="{{ object.main_image.url }}" alt="Fara imagine de prezentare" height="400" width="700" align="middle">
            </td>
            <td align="middle">
                <ul class="list-unstyled">
                    <li>
                        <img src="/media/chelmus_booking_logo.jpg" alt="Fara logo" height="130" width="380" align="middle">
                    </li>
                    <li>
                        <br>
                        <p style="font-size:50px;"><b>{{ object.price }}  €</b></p>
                    </li>
                    <li>
                        <p class="btn btn-primary navbar-btn" style="width:200px"><span class="glyphicon glyphicon-phone-alt"></span> {{ object.phone }}</p>
                    </li>
                    <li>
                        <p class="btn btn-warning navbar-btn" style="width:200px"><span class="glyphicon glyphicon-map-marker"></span> {{ object.get_county_display }}, {{ object.city }} </p>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size:25px;">Oferit de {{ object.user.username }}</p>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="font-size:15px;">{{ object.description }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-unstyled">
                    <p style="font-size:15px;"><b>Facilitati oferite</b></p>
                    {% if object.wifi %}
                    <li><p><span>{% bootstrap_icon "signal" %}</span> Wi-Fi</p></li>
                    {% endif %}

                    {% if object.launch %}
                    <li><p><span>{% bootstrap_icon "cutlery" %}</span> Mic dejun</p></li>
                    {% endif %}

                    {% if object.children_playground %}
                    <li><p><span>{% bootstrap_icon "tent" %}</span> Loc de joaca pentru copii</p></li>
                    {% endif %}

                    {% if object.parking %}
                    <li><p><span>{% bootstrap_icon "road" %}</span> Parcare</p></li>
                    {% endif %}

                    {% if object.swimming_pool %}
                    <li><p><span>{% bootstrap_icon "star" %}</span> Piscina</p></li>
                    {% endif %}

                    {% if object.spa %}
                    <li><p><span>{% bootstrap_icon "sunglasses" %}</span> SPA</p></li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="middle">
                <p style="font-size:25px;"><b>Galerie foto</b></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="middle">
                <ul class="list-unstyled">
                    {% if object.image_0 %}
                    <li>
                        <img src="{{ object.image_0.url }}" alt="Fara imagine de galerie" height="400" width="700" align="middle">
                    </li>
                    <br>
                    {% endif %}

                    {% if object.image_1 %}
                    <li>
                        <img src="{{ object.image_1.url }}" alt="Fara imagine de galerie" height="400" width="700" align="middle">
                    </li>
                    <br>
                    {% endif %}

                    {% if object.image_2 %}
                    <li>
                        <img src="{{ object.image_2.url }}" alt="Fara imagine de galerie" height="400" width="700" align="middle">
                    </li>
                    <br>
                    {% endif %}

                    {% if object.image_3 %}
                    <li>
                        <img src="{{ object.image_3.url }}" alt="Fara imagine de galerie" height="400" width="700" align="middle">
                    </li>
                    <br>
                    {% endif %}

                    {% if object.image_4 %}
                    <li>
                        <img src="{{ object.image_4.url }}" alt="Fara imagine de galerie" height="400" width="700" align="middle">
                    </li>
                    <br>
                    {% endif %}
                </ul>
            </td>
        </tr>
    </table>
</div>

{% endblock %}